*{  
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: #584040;
    display:flex;
    align-items: center;
}
.container{
    width: 1278px;
    height: 718px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#B7D6C7, #FFF2D1);
}

.cat{
    width: 286px;
    height: 432px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url("img/animation-catu.png") repeat-x 0px 0px;
    background-size: 286px 432px;
    background-position-x: 0;
}

.floor{
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url (SUELO) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.score{
    width: 100px;
    height: 30px;
    position:absolte;
    top:5px;
    right: 15px;
    z-index:10;
    color: #D48872 ;
    font-family: Verdana;
}